html, body, h1, h2, h3, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(HTMLProjectAssets/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg);
    background-color: white;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    font-family: 'Work Sans', 'Montserrat', 'roboto';
    font-weight: 100;
}


#header {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: 5px 30px;
    border-bottom: 0.75px solid white;
    font-family: 'Roboto', 'Yantramanav', 'Arial Narrow Bold', sans-serif;
}
#header h4 {
    font-size: 18px;
    font-weight: bold;
}
#headerp {
    display:flex;
    align-items: center;
}
.headerspace p {
    margin: 0 10px 0 10px;
}
#header a {
    color: white;
}


#maincontent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
#maincontent h1 {
    align-self: center;
    text-align: center;
    font-size: 60px;
    margin-bottom: 3px;
    font-family: 'Roboto', 'Yantramanav', 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    font-weight: 900;
}
#maincontent hr {
    border: 1px solid white;
    width: 500px;
}
h2 {
    font-family: 'Work Sans', 'Montserrat', 'roboto';
    text-align: center;
    font-size: 50px;
    font-weight: 100;
}


#boxes {
    display: flex;
}
.secondarytext {
    align-self: center;
    padding-left: 40px;
    padding-right: 10px;
    font-size: 17px;
}
h3 {
    font-family: 'Roboto', 'Yantramanav', 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    padding-bottom: 15px;
    font-size: 30px;
}
#boxes2 {
    display: flex;
    flex-direction: row-reverse;
}
#boxes img {
    width: 40%;
}
#boxes2 img {
    width: 50%;
}
.box1 {
    background: black;
}
.box2 {
    background-color: #363636;
} 
.box3 {
    background-color: #525252;
}