html, body, h1, h2, h3, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(HTMLProjectAssets/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg);
    background-color: white;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}

#maincontent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

#maincontent h1 {
    align-self: center;
    text-align: center;
    font-size: 60px;
    border-bottom: 2px solid white;
    margin-bottom: 3px;
    font-family: 'Roboto', 'Yantramanav', 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}
h2 {
    font-family: 'Work Sans', 'Montserrat', 'roboto';
    text-align: center;
    font-size: 50px;
    font-weight: 100;
}

#boxes {
    display: flex;
    background: black;

}

.bread {
    width: 500px;

}